<div class="flex flex-col justify-center items-center gap-y-8 h-[95vh]">
  <div class="flex flex-row mt-6">
    <p
      class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-red-600 to-indigo-500"
    >
      IR Potato Search
    </p>
  </div>
  <div class="flex flex-row items-start justify-center gap-x-2">
    <div>
      <mat-form-field appearance="outline" class="w-96">
        <input
          type="text"
          matInput
          [formControl]="key"
          placeholder="Type to search..."
          (keydown.enter)="search()"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions|async; track option) {
          <mat-option (onSelectionChange)="searchOnSelect($event)" [value]="option.text">{{ option.text }}</mat-option>
          }
        </mat-autocomplete>
        <button
          matTooltip="search"
          mat-icon-button
          (click)="search()"
          matSuffix
        >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-button-toggle-group [formControl]="selectedDataset" class="mt-2">
        <mat-button-toggle (click)="selectDataset(1)" [value]="1">Lotte</mat-button-toggle>
        <mat-button-toggle (click)="selectDataset(2)" [value]="2">Antuiqe</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div
    class="flex flex-col gap-y-2 overflow-auto h-[600px] w-[70vw] border-2 border-green-400 p-4 rounded-md"
  >
    <p class="text-xl">Results :</p>
    @if (loading) { @for (item of [1,2,3,4]; track $index) {
    <div role="status" class="w-full animate-pulse">
      <div
        class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-4"
      ></div>
      <div
        class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2.5"
      ></div>
      <div
        class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2.5"
      ></div>
      <div
        class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2.5"
      ></div>
      <div
        class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-full mb-2.5"
      ></div>
      <div
        class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px]"
      ></div>
      <span class="sr-only">Loading...</span>
    </div>
    } }@else { @for (res of results; track $index) {
    <div class="flex rounded-md border-2 border-blue-500">
      <span class="text-red-500 font-bold">{{ res.doc_id }}:</span>
      {{ res.text }}
    </div>
    } }
  </div>
</div>
